body {
  margin: 0;
  background: #eee;
  font-family: 'Exo', sans-serif, Arial;
}

nav {
  background: lightgrey;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: dimgrey;
  padding: 7px 12px;
  text-transform: uppercase;
  font-size: 18px;
}

nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav > ul li {
  position: relative;
  display: block;
}

nav > ul li:hover a {
  background: #E0E0E0;
  color: #303030;
}

nav > ul li:hover ul {
  display: block;
}

nav > ul li a {
  display: block;
  padding: 1em;
  white-space: nowrap;
}

nav > ul li ul {
  position: absolute;
  display: none;
  left: 0;
  top: 100%;
  background: red;
}

img {
  max-width: 100%;
  max-height: auto;
}

p.main {
  font-size: 18px;
}

a.main {
    text-decoration: none; text-decoration-color: darkred;
}